*{  /*resetar o navegador*/

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

html, body{ 

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif; /*fontes*/
    color: black; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
}

body{
       
    background: linear-gradient(
        90deg,
        #0a97dd 0%,
        #dd2905 100%
       
    );

    display: flex;
    justify-content: center;
    align-items: center;
}