* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: 'Poppins', sans-serif; 
    
}


a{
  
  margin: 1rem;
  background-color: #ffffff;
}

.material-symbols-outlined { 
    font-variation-settings: 'FILL' 0, 
    'wght' 400, 
    'GRAD' 0, 
    'opsz' 24 
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


#corfundo{

    display: flex;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    height: 8rem;
    background-color:#b1e0ed;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
   
    width: 100%;  
    margin-top: 1rem;
  }
  
  #navbar-items .nav-item {
    margin: 0 1em;
  }

img{
    height: 5rem;
}

#mainlocal{
  margin: 10%;
   
   
}

#h20{
   
    display: flex;
    margin:1rem;
   
}
#cardbody{

  
    height: 30rem;
    width: 30rem;

    background-color: #72C2E9;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

#botao{
    display: flex;
    justify-content: center;
    width: 100%;
}

article{
    height:max-content;
    background-color: #72C2E9;
}
#t1{
  margin-left: 1rem;
}

th{
   margin: 1rem 1rem 1rem 3rem;
}

 tr{
   background-color: #f4f4f4b6;
    display: flex;
    margin: 1rem;

 }
span{

    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
 


#get{

   
    border-radius: 0.5rem;
    background-color: azure;
    width: 37rem;
    height:25rem;
    overflow-y: scroll;
}

button{
    cursor: pointer;
    margin: 1rem;
    
    
}

h2{
  
    padding-left: 2rem;
    width: 37rem;
    background-color: #ffffff;
  
}


.modal-content{
    background-color: #72C2E9;
    width: 30rem;
    height: 30rem;

    display: flex;
    justify-content: center;
}

#cards{

 
    border-radius: 0.5rem;
}

 article{
    margin: 12rem;
    background-color: azure;
}

#slider {
   
   
    margin-top: 5em;
    margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
    bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
  }
  
  .btn {
    border-radius: 0;
  }
  
  #slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    color: rgb(233, 229, 229);
    font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: rgb(231, 204, 204);
    opacity: 0.8;
  }
  
  .carousel-indicators .active {
    background-color: #000;
  }
  
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 7em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.6em 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 5em;
    }
  }

  footer{
    background-color: #b1e0ed;
  }

  #sobre{
    padding: 1rem;
  }